h1{
    font-style: oblique; font-size: 100px; color: darkslategrey; text-align:center     
    }
    h3{
        font-style: normal; color:black;
    }
    h2{
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        color: rgb(0, 0, 0);
    }
    .nav{
        background-color: antiquewhite;
    }        
    .vivo{
        margin-left: 25px;
        margin-right: 25px;
        list-style-type:none ;
    }
    

.colorcito{
    font-size: 23px;
    text-align: center;
    transform: translate(0,20px)

    }
.fondo{
    background: rgb(105,105,105);
background: linear-gradient(0deg, rgba(105,105,105,1) 6%, rgba(193,192,192,1) 15%, rgba(255,254,254,1) 19%, rgba(255,255,255,1) 82%, rgba(161,161,161,1) 88%, rgba(88,88,88,1) 100%);
        
    }
.titulin{
    border-style:groove ;
    margin-top: 15px;
    margin-bottom: 50px;
    
}
.animate__animated.animate__rubberBand {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }


li{
    line-height: 20px;
list-style-type: square;
}
.tuki{
    width: 250px;
    
    border-style: groove;
}
.cosas{
    font-style: italic;
}
footer{
    background-color: grey;
    
}
img{
    display:block;
    margin:auto;
    border-style: dotted;
    }

.header{
    
    display: flex;
    flex-direction: row;
}
.noti3{
    
    border-style: groove;
}
.col-md-6{
    background-color: white;
}
.col-md-12{
    background-color:whitesmoke;

}
@media screen and (max-width: 950px){
    .fondo{
        background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 8%, rgba(218,218,218,1) 19%, rgba(158,158,158,1) 42%, rgba(145,145,145,1) 60%, rgba(88,88,88,1) 100%);
       
    }
    .titulin{
        border-style:groove ;

       
    }
    .tuki{
        
        border-style: groove;
    }
    .noti3{
      
        border-style: groove;
    }
    footer{
        background-color: grey;
      
    }
    .header{
       
        display: flex;
        flex-direction: column;
    }